
.footer {
    color: #777;
    padding: 10px 15px;
	margin-top: 20px;
    text-align: center;
}

.selected {
	display: inline-block;
	text-align: center;
}

.selected li {
	display: inline-block;
	margin-right: 10px;
}

.button {
	border: 0;
	float: right;
	background: none;
	cursor: pointer;
	outline: none;
}