
.footer {
    color: #777;
    padding: 10px 15px;
	margin-top: 20px;
    text-align: center;
}

.selected {
	position: absolute; /*??*/
    right: 0;
    left: 0
}

.selected li {
	display: inline-block;
}

.selected li a {
	color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid rgba(202, 64, 14, 0.39);
    border-radius: 3px;
}

.button {
	position: relative; /*??*/
	border: 0;
	float: right;
	background: none;
	cursor: pointer;
	outline: none;
}