@import url('https://at.alicdn.com/t/font_431650_eba02qwxvxg06bt9.css');
@import url('https://at.alicdn.com/t/font_432498_t0cuxzuc0x1lwhfr.css');

.item {
	height:  50px;
	font-size: 20px;
	line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}

.correct{

}
.correct::before{
	position: relative;
	top: -10px;
}

.btnbasic {
	composes:correct;
	float: left;
	border-radius: 50%;
	border: 1px solid #e4dada;
	width: 30px;
	height: 30px;
	margin: 10px 0;
	text-align: center;
  color: green;
}
.textbasic {
	float: left;;
	font-weight: bold;
	margin-left: 15px;
}

.textcompletedClass {
	font-style: italic;
	text-decoration: line-through;
	color: #d9d9d9;
	font-weight: normal;
}

.wrong {
	margin-right: 10px;
	float: right;
	color: #d26f67;
}